
/*burgermenu ikonet placeret i menu-blokken med en padding på 12px hele vejen rundt - får en pointer cursor når man holder over den*/
.icon {
    display: inline-block;
    background-color: fuchsia;
    padding: 12px;
    cursor: pointer;
}

/*links i menuen vises ikke som udgangspunkt*/
.menu #myLinks {
    display: none;
}
/*minimal styling af menuens indhold*/
.menu a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: table;
}
/*hvad der sker når man holder musen over noget i menuen*/
.menu a:hover {
    background-color: black;
    color: green;
}

